Source: gitcache-ssh
Maintainer: Nicola Worthington <nicolaw@tfb.net>
Section: devel
Priority: optional
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9), coreutils (>= 8.25), go-md2man
Vcs-Git: https://github.com/nokia/gitcache-ssh.git
Vcs-Browser: https://github.com/nokia/gitcache-ssh
Homepage: https://github.com/nokia/gitcache-ssh

Package: gitcache-ssh
Architecture: amd64
Depends: parallel, bsdutils
Recommends: openssh-server
Description: Simple SSH based Git cache.
 This tool was conceived and written to dramatically reduce the bandwidth
 consumed by developers and CI/CD build and test systems that constantly
 communicate with geographically remote Git repositories.
 It is designed to be (for the most part, after initial setup), transparrent
 to the user or automation systems that are using it. It provides an asymetric
 (pull/read-only) cache function to shim between the Git client and the
 originating remote upstream Git repository.
